<ion-view title="Adoção" id="page2" style="">
  <ion-content padding="true" style="background: url(img/9vugRS7TdiRlBddu5GNi_bg-patinhas.png) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="adoO-heading10" style="color: rgb(0, 0, 0); font-weight: 400;">Animais disponíveis para adoção</h2>
    <ion-list id="adoO-list9">
      <ion-item class="item-thumbnail-left" id="adoO-list-item15" ui-sref="menu.adoODadosAnimal()" style="">
        <img src="img/CFYvXlVNQK6ZTMsgfwKA_img_socializar_um_filhote_de_cachorro_corretamente_20163_600.jpg">
        <h2>Bóris</h2>
        <p>Macho; 2 anos.</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 6px;"></div>
    <ion-list id="adoO-list10">
      <ion-item class="item-thumbnail-left" id="adoO-list-item16" ui-sref="menu.adoODadosAnimal()" style="">
        <img src="img/C3jXteUgRcmBHVASsJCI_logotipo.jpg">
        <h2>Raio de Sol</h2>
        <p>Fêmea; 1 ano.</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 8px;"></div>
    <ion-list id="adoO-list12">
      <ion-item class="item-thumbnail-left" id="adoO-list-item18" ui-sref="menu.adoODadosAnimal()" style="">
        <img src="img/PzudmS4CTHGK4Bavgr3c_ideias-sobre-como-criar-coelho.jpg">
        <h2>Páscoa</h2>
        <p>Macho; 6 meses</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 7px;"></div>
    <ion-list id="adoO-list13">
      <ion-item class="item-thumbnail-left" id="adoO-list-item19" ui-sref="menu.adoODadosAnimal()" style="">
        <img src="img/GW6nAbDERjS0N5yiO9Md_centrochelyssulcata.jpg">
        <h2>Sr. Tortuga</h2>
        <p>Macho; 5 anos</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 7px;"></div>
    <ion-list id="adoO-list14">
      <ion-item class="item-thumbnail-left" id="adoO-list-item20" ui-sref="menu.adoODadosAnimal()" style="">
        <img src="img/Y9d7GzgGSGbsMS2TvBgs_download.jpg">
        <h2>Marmelada</h2>
        <p>Fêmea; 1 anos.</p>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.filtros()" id="adoO-button3" class="button button-positive button-block">Buscar por filtros</a>
  </ion-content>
</ion-view>