<ion-view title="Adoção-gato" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="adoOGato-heading12" style="color: rgb(0, 0, 0);">Animais de acordo com a sua busca:</h3>
    <ion-list id="adoOGato-list17">
      <ion-item class="item-thumbnail-left" id="adoOGato-list-item22" ui-sref="menu.adoODadosAnimal()" style="">
        <img src="img/D38CJieCSa6LM56t78Lm_download1.jpg">
        <h2>Cinzão</h2>
        <p>Macho; 8 meses</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 8px;"></div>
    <ion-list id="adoOGato-list18">
      <ion-item class="item-thumbnail-left" id="adoOGato-list-item24" ui-sref="menu.adoODadosAnimal()" style="">
        <img src="img/wyUYOHA9Q7m52O4rX3wd_download.jpg">
        <h2>Marmelada</h2>
        <p>Fêmea; 1 ano</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>