<ion-view title="Filtros" id="page6" style="">
  <ion-content padding="true" style="background: url(img/hOnDRqLScmQkTcjJVbko_bg-patinhas.png) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="filtros-heading11" style="color: rgb(0, 0, 0);">Informe como é o animalzinho que você está procurando:</h3>
    <form id="filtros-form6" class="list">
      <label class="item item-select" id="filtros-select2">
        <span class="input-label">Sexo</span>
        <select>
          <option>Todos</option>
          <option>Fêmea</option>
          <option>Macho</option>
        </select>
      </label>
      <div class="spacer" style="width: 283px; height: 6px;"></div>
      <label class="item item-select" id="filtros-select3">
        <span class="input-label">Idade</span>
        <select>
          <option>Todos</option>
          <option>0-2 anos</option>
          <option>2-4 anos</option>
          <option>4+ anos</option>
          <option></option>
        </select>
      </label>
      <div class="spacer" style="width: 283px; height: 6px;"></div>
      <label class="item item-select" id="filtros-select4">
        <span class="input-label">Tipo</span>
        <select>
          <option>Todos</option>
          <option>Gato</option>
          <option>Cachorro</option>
          <option>Pássaro</option>
        </select>
      </label>
    </form>
    <a ui-sref="menu.adoOGato()" id="filtros-button4" class="button button-positive button-block">Buscar</a>
  </ion-content>
</ion-view>