<ion-view title="Login" hide-nav-bar="true" id="page4" style="">
  <ion-content padding="true" style="background: url(img/OdOtJaqTB6AM0ocoh4j0_bg-patinhas.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="login-form1" class="list center-form">
      <div class="login-image">
        <img src="img/uCNWZg85S06R0mAvz0jF_d45713d24351629a69b9fa56435077f9.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="login-list2">
        <label class="item item-input top-input" id="login-input1">
          <span class="input-label">E-mail</span>
          <input placeholder="" type="email">
        </label>
        <label class="item item-input bottom-input" id="login-input2">
          <span class="input-label">Senha</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.bicharada()" id="login-button1" class="button button-positive button-block">Entrar</a>
      <a href-inappbrowser="/signup" id="login-button2" class="button button-positive button-block button-clear">Criar uma conta</a>
    </form>
  </ion-content>
</ion-view>