<ion-view title="Nova vaquinha" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="novaVaquinha-heading16" style="color: rgb(0, 0, 0);">Com a Vaquinha será possível uma ajuda coletiva para o seu animal!</h3>
    <h5 id="novaVaquinha-heading15" style="color: rgb(0, 0, 0);">Nome do animal:</h5>
    <form id="novaVaquinha-form10" class="list">
      <label class="item item-input" id="novaVaquinha-input9">
        <input placeholder="" type="text">
      </label>
    </form>
    <h5 id="novaVaquinha-heading17" style="color: rgb(0, 0, 0);">Insira fotos do animal:</h5>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h5 id="novaVaquinha-heading18" style="color: rgb(0, 0, 0);">Idade do animal:</h5>
    <form id="novaVaquinha-form9" class="list">
      <label class="item item-input" id="novaVaquinha-input4">
        <input placeholder="" type="text">
      </label>
      <h5 id="novaVaquinha-heading20" style="color: rgb(0, 0, 0);">Motivo da vaquinha:</h5>
      <label class="item item-input" id="novaVaquinha-input5">
        <input placeholder="" type="text">
      </label>
      <h5 id="novaVaquinha-heading21" style="color: rgb(0, 0, 0);">Insira aqui o laudo do veterinário:</h5>
      <label class="item item-input" id="novaVaquinha-input6">
        <input placeholder="" type="text">
      </label>
      <h5 id="novaVaquinha-heading22" style="color: rgb(0, 0, 0);">Valor necessário:</h5>
      <label class="item item-input" id="novaVaquinha-input7">
        <input placeholder="" type="text">
      </label>
      <h5 id="novaVaquinha-heading23" style="color: rgb(0, 0, 0);">Seus dados bancários:</h5>
      <label class="item item-input" id="novaVaquinha-input8">
        <input placeholder="" type="text">
      </label>
      <a ui-sref="menu.vaquinhas()" id="novaVaquinha-button6" class="button button-positive button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>