<ion-view title="Vaquinhas" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="vaquinhas-heading13" style="color: rgb(0, 0, 0);">Estes animais precisam de ajuda, vamos ajudar?</h3>
    <ion-list id="vaquinhas-list19">
      <ion-item class="item-thumbnail-left" id="vaquinhas-list-item29" style="">
        <img src="img/pDo0kCuQ9Sk2VXj1sUGX_vira1.jpg">
        <h2>Barão</h2>
        <p style="white-space:normal;">Macho; 2 anos; Precisa de ajuda para realizar uma cirurgia nos olhos.</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 9px;"></div>
    <ion-list id="vaquinhas-list20">
      <ion-item class="item-thumbnail-left" id="vaquinhas-list-item30" style="">
        <img src="img/hVEnpJZjRRGyqHSOTrpU_download.jpg">
        <h2>Lala</h2>
        <p style="white-space:normal;">Fêmea; 5 anos; Precisa de ajuda para realizar uma cirurgia de câncer de mama.</p>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.novaVaquinha()" id="vaquinhas-button5" class="button button-positive button-block">Nova vaquinha</a>
  </ion-content>
</ion-view>